*{
    margin: 0;
    padding: 0;
}
.contact-container{
display: grid;
grid-template-columns: 1fr 1.3fr;
gap: 3rem;
background-color: #1f242d;

}
.contact-container .contact-box:first-child{
align-self: center;

}
.contact-box h2{
font-size: 4.5rem;
color: #fefafa;
}
.contact-box p{
font-size: 1.6rem;
color: #fefafa;
}
.contact-box .desc{
margin: 1.5rem 0 2.5rem;
}
.contact-box .contact-detail{
display: flex;
align-items: center;
margin: 2rem 0;
color: #fefafa;

}
.contact-detail i{
display: inline-flex;
background-color: #323946;
color: #7cf03d;
font-size: 3rem;
border-radius: .6rem;
margin-right: 1.5rem;
}
.contact-detail .detail p:first-child{
color: #7cf03d;
}
.contact-box form{
background-color: #323946;
padding: 2.5rem 3.5rem 3.5rem;
border-radius: 1rem;
text-align: center;
}
.contact-box .heading{
font-size: 3.5rem;
}
.contact-box .heading span{
color: #7cf03d;
}
.contact-box .field-box{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 2rem;

}
.contact-box .field-box input,
.contact-box .field-box textarea{
padding: 1.5rem;
background-color: #1f242d;
border: .15rem solid #1f242d;
border-radius: .6rem;
font-size: 1.6rem;
color: #fefafa;

}
.contact-box .field-box textarea{
grid-column: 1 / -1;
height: 26rem;
resize: none;

}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus{
border-color: #7cf03d;
}
.contact-box .btn{
margin-top: 2rem;
cursor: pointer;

}
.btn{
display: flex;
padding: 1rem 3rem;
background-color: #7cf03d;
border: .2rem solid #7cf03d;
border-radius: 4rem;
box-shadow: 0 0 1rem #7cf03d;
font-size: 1.6rem;
color: #1f242d;
font-weight: 500;
transition: .5s;
}
.btn:hover{
background-color: transparent;
color: #7cf03d;
box-shadow: none;
}
nav {
width: 100%;
height: 10vh;
position: sticky;
top: 0;
background-color: #1f242d;
z-index: 10;
}

.nav-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}

.logo {
font-size: 2rem;
font-weight: bold;
color: white;
}

.logo span {
color: #077b32;
text-shadow: 0 0 10px #077b32;
}

.hamburg,
.cancel {
display: none;
}

.links {
display: flex;
}
links {
display: flex;
}

.links a {
font-size: 1.1rem;
color: white;
margin: 0 20px;
text-decoration: none;
font-weight: 600;
transition: 0.3s linear;
}

.links a:hover {
color: #077b32;
text-decoration: underline;
}

section {
padding: 50px 0;
}

.main-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}
body {
width: 100%;
height: 100vh;
background-color: #1f242d;
}

/* responsive */

@media screen and (max-width: 810px){
.contact-box .field-box{
    grid-template-columns: 1fr;
}
}
@media screen and (max-width: 768px){

.contact-container{
    grid-template-columns: 1fr;
}

.contact-box .field-box{
    grid-template-columns: repeat(2, 1fr);
}
}
@media screen and (max-width: 600px){

.contact-box .field-box{
    grid-template-columns: 1fr;
}
}

@media screen and (max-width: 400px){
.contact-box form{
    padding: 2.5rem 3rem 3.5rem;
}
.contact-box h2{
    font-size: 3.5rem;
    
}
}